<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <h5
          class="card-title text-light mb-3"
          style="background-color: #343a40; padding: 10px"
        >
          Initiator's Details
        </h5>

        <div class="card-body">
          <!-- <h5 class="card-title table-dark">Initiator's Details</h5> -->
          <!-- <h5 class="card-title bg-dark text-light">Initiator's Details</h5> -->

          <!-- General Form Elements -->
          <form>
            <div class="row g-5">
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Initiator details</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="name@example.com"
                  />
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Initiator business unit</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="name@example.com"
                  />
                </div>
              </div>
              <div class="col-md">
                <div class="mb-3">
                  <label class="form-label">Initiator contact number</label>
                  <input
                    type="text"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="name@example.com"
                  />
                </div>
              </div>
            </div>
          </form>
          <!-- End General Form Elements -->
        </div>
      </div>
    </div>
  </div>
  <!-- 0000000000000000000000000000000000000000000000000000000000000000000 -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <h5
          class="card-title text-light mb-3"
          style="background-color: #343a40; padding: 10px"
        >
          Property Valuation
        </h5>
        <div class="card-body">
          <!-- Property Valuation Form -->
          <form>
            <div class="row g-3">
              <div class="col-md-4">
                <fieldset class="mb-3">
                  <label class="form-label">
                    Choose Property Valuation Type:
                  </label>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gridRadios"
                      id="fOSRef"
                      value="option1"
                    />
                    <label class="form-check-label" for="fOSRef">FOS Ref</label>
                  </div>
                </fieldset>
              </div>

              <div class="col-md-4">
                <div class="mb-3">
                  <label class="form-label">Type of Valuation:</label>
                  <select class="form-select">
                    <option selected disabled>Select type</option>
                    <option value="1">New Valuation</option>
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="mb-3">
                  <label class="form-label">FOS Reference Number:</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter FOS Reference Number"
                  />
                </div>
              </div>
            </div>

            <!-- <div class="text-end">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div> -->
          </form>
          <!-- End Property Valuation Form -->
        </div>
      </div>
    </div>
  </div>
  <!-- ********************************************************************* -->

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <h5
          class="card-title text-light mb-3"
          style="background-color: #343a40; padding: 10px"
        >
          Facility Details
        </h5>
        <div class="card-body">
          <!-- <h5
              class="card-title text-center mb-4"
              style="color: #007bff; font-size: 1.5rem; font-weight: bold"
            >
              Facility Details
            </h5> -->

          <form>
            <div class="mb-3 row">
              <label for="facilityType" class="col-sm-2 form-label"
                >Type of Facility</label
              >
              <div class="col-sm-10">
                <!-- <input
                    type="text"
                    class="form-control"
                    id="facilityType"
                    placeholder="Enter type of facility"
                  /> -->
                <select class="form-select" aria-label="Default select example">
                  <option selected>Enter type of facility</option>
                  <option value="1">New</option>
                </select>
              </div>
            </div>

            <div class="mb-3 row">
              <label for="category" class="col-sm-2 form-label">Category</label>
              <div class="col-sm-10">
                <!-- <input
                    type="text"
                    class="form-control"
                    id="category"
                    placeholder="Enter category"
                  /> -->
                <select class="form-select" aria-label="Default select example">
                  <option selected>Enter category</option>
                  <option value="1">New</option>
                </select>
              </div>
            </div>

            <div class="mb-3 row">
              <label for="purpose" class="col-sm-2 form-label">Purpose</label>
              <div class="col-sm-10">
                <!-- <input
                    type="text"
                    class="form-control"
                    id="purpose"
                    placeholder="Enter purpose"
                  /> -->
                <select class="form-select" aria-label="Default select example">
                  <option selected>Enter purpose</option>
                  <option value="1">New</option>
                </select>
              </div>
            </div>

            <div class="mb-3 row">
              <label for="term" class="col-sm-2 form-label">Term</label>
              <div class="col-sm-4">
                <input
                  type="text"
                  class="form-control"
                  id="term"
                  placeholder="Enter term"
                />
              </div>

              <div class="col-sm-3 row">
                <!-- <input
                    type="text"
                    class="form-control"
                    id="currency"
                    placeholder="Enter currency"
                  /> -->
                <select class="form-select" aria-label="Default select example">
                  <option selected>Enter currency</option>
                  <option value="1">New</option>
                </select>
              </div>

              <div class="col-sm-3">
                <input
                  type="text"
                  class="form-control"
                  id="amount"
                  placeholder="Enter amount"
                />
              </div>
            </div>

            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="housingLoan"
              />
              <label
                class="form-check-label"
                for="housingLoan"
                style="margin-left: 12px"
              >
                Housing Loan</label
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="text-start">
      <button
        class="btn btn-outline-dark mt-3 rounded-pill px-4 py-2 fw-bold"
        (click)="goToPrevious()"
      >
        Previous <i class="bi bi-arrow-left"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="text-end">
      <button
        class="btn btn-outline-dark mt-3 rounded-pill px-4 py-2 fw-bold"
        (click)="goToNext()"
      >
        Next <i class="bi bi-arrow-right"></i>
      </button>
    </div>
  </div>
</section>

<!-- **************************************************************** -->
