<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<section class="section">
  <div class="container-fluid">

    <ng-container *ngIf="showPropertyFacilityForm">
      <div class="row">
        <div class="col-lg-12">

          <form [formGroup]="formData"></form>
          <div class="card">
            <h5 class="card-title text-light mb-3" style="background-color: #343a40; padding: 10px">
              Initiator's Details
            </h5>

            <div class="card-body">
              <form>
                <div class="row g-5">
                  <div class="col-md">
                    <div class="mb-3">
                      <label class="form-label">Initiator details</label>
                      <input type="text" class="form-control" placeholder="name@example.com" [(ngModel)]="user.name"
                        name="name" disabled="true" />
                    </div>
                  </div>
                  <div class="col-md">
                    <div class="mb-3">
                      <label class="form-label">Initiator business unit</label>
                      <input type="text" class="form-control" placeholder="name@example.com"
                        [(ngModel)]="user.businessUnit" name="businessUnit" disabled="true" />
                    </div>
                  </div>
                  <div class="col-md">
                    <div class="mb-3">
                      <label class="form-label">Initiator contact number</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com" [(ngModel)]="user.contactNumber" name="contactNumber"
                        disabled="true" />
                    </div>
                  </div>
                </div>
              </form>
              <!-- End General Form Elements -->
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <h5 class="card-title text-light mb-3" style="background-color: #343a40; padding: 10px">
              Property Valuation
            </h5>
            <div class="card-body">
              <!-- Property Valuation Form -->
              <form [formGroup]="formData">
                <div class="row g-3">
                  <div class="col-md-4">
                    <fieldset class="mb-3">
                      <label class="form-label">
                        Choose Property Valuation Type:
                      </label>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" id="fOSRef" value="option1" checked
                          formControlName="reference" />
                        <label class="form-check-label" for="fOSRef">FOS Ref</label>
                      </div>
                    </fieldset>
                  </div>

                  <div class="col-md-4">
                    <div class="mb-3">
                      <label class="form-label">Type of Valuation:</label>
                      <select class="form-select" formControlName="evaluationType">
                        <option *ngFor="let type of valuationTypes" selected>{{ type.name }}</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="mb-3">
                      <label class="form-label">FOS Reference Number:</label>
                      <input type="text" class="form-control" placeholder="Enter FOS Reference Number"
                        formControlName="fosReference" />
                    </div>
                  </div>
                </div>

                <!-- <div class="text-end">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div> -->
              </form>
              <!-- End Property Valuation Form -->
            </div>
          </div>
        </div>
      </div>
      <!-- ********************************************************************* -->

      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <h5 class="card-title text-light mb-3" style="background-color: #343a40; padding: 10px">
              Facility Details
            </h5>
            <div class="card-body">


              <form [formGroup]="formData">
                <div class="mb-3 row">
                  <label for="facilityType" class="col-sm-2 form-label">Type of Facility</label>
                  <div class="col-sm-10">
                    <select class="form-select" aria-label="Type of Facility" formControlName="facilityType">
                      <option *ngFor="let type of facilityTypes" selected>{{ type.name }}</option>
                    </select>

                  </div>
                </div>


                <div class="mb-3 row">
                  <label for="category" class="col-sm-2 form-label">Category</label>
                  <div class="col-sm-10">
                    <select class="form-select" aria-label="Category" formControlName="category">
                      <option *ngIf="!categories" selected disabled>Loading categories...</option>
                      <option *ngFor="let category of categories" selected>{{ category.name }}</option>
                    </select>
                  </div>
                </div>


                <div class="mb-3 row">
                  <label for="purpose" class="col-sm-2 form-label">Purpose</label>
                  <div class="col-sm-10">
                    <select class="form-select" aria-label="Purpose" formControlName="purpose">
                      <option *ngIf="!purposes" selected disabled>Loading purposes...</option>
                      <option *ngFor="let purpose of purposes" selected>{{ purpose.name }}</option>
                    </select>
                  </div>
                </div>


                <div class="mb-3 row">
                  <label for="term" class="col-sm-2 form-label">Term</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="term" placeholder="Enter term"
                      formControlName="termMonths" />
                  </div>

                  <div class="col-sm-3 row">
                    <select class="form-select" aria-label="Currency" formControlName="currency">
                      <option value="MUR" selected>MUR</option>
                      <option *ngFor="let currency of currencies">{{ currency.name }}</option>
                    </select>
                  </div>

                  <div class="col-sm-3">
                    <input type="text" class="form-control" id="amount" placeholder="Enter amount"
                      formControlName="amount" />
                  </div>
                </div>

                <div class="form-check mb-3">
                  <input class="form-check-input" type="checkbox" value="" id="housingLoan" />
                  <label class="form-check-label" for="housingLoan" style="margin-left: 12px">
                    Housing Loan</label>
                </div>



              </form>
            </div>
          </div>
        </div>
      </div>
    </ng-container>



    <ng-container *ngIf="showBorrowerForm">

      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <h5 class="card-title text-light mb-3" style="background-color: #343a40; padding: 10px">
              Borrower's Details
            </h5>
            <div class="card-body">
              <form [formGroup]="formData">
                <div formArrayName="borrowers">
                  <!-- Iterates over each borrower in the borrowers FormArray -->
                  <div *ngFor="let borrower of borrowers.controls; let i = index" [formGroupName]="i">
                    <!-- Display title for each borrower -->
                    <h6 class="card-title">{{ getBorrowerTitle(i) }}</h6>
                    <!-- Form fields for customer information -->
                    <div class="row g-3">
                      <div class="col-md-4">
                        <div class="mb-3">
                          <label class="form-label">Customer Number</label>
                          <div class="input-group">
                            <input type="text" class="form-control" formControlName="customerNumber" />
                            <button class="btn btn-primary" type="button" (click)="queryCustomerByNumber(i)">
                              <i class="bi bi-search"></i> <!-- Bootstrap search icon -->
                            </button>
                          </div>
                        </div>

                        <!-- Customers name -->
                        <div class="mb-3">
                          <label class="form-label">Customer Name</label>
                          <input type="text" class="form-control" formControlName="shortName" />
                        </div>

                      </div>
                      <div class="col-md-4">
                        <!-- Contact No -->
                        <div class="mb-3">
                          <label class="form-label">Contact No</label>
                          <input type="text" class="form-control" formControlName="phoneNumber" />
                        </div>
                        <!-- Email -->
                        <div class="mb-3">
                          <label class="form-label">Email</label>
                          <input type="text" class="form-control" formControlName="email" />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <!-- Address -->
                        <div class="mb-3">
                          <label class="form-label">Address</label>
                          <textarea class="form-control" style="height: 120px"
                            formControlName="streetAddress"></textarea>
                        </div>
                        <!-- Button to remove the borrower -->
                        <div class="mb-3">
                          <button class="btn btn-danger" *ngIf="i > 0" (click)="removeBorrower(i)">
                            <i class="bi bi-basket"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Button to add a new borrower -->
                <div class="text-end">
                  <button class="btn btn-primary mt-3" (click)="addBorrower()">
                    Add Joint Borrower
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </ng-container>


    <div class="row mt-3">
      <div class="col-md-6 text-start">
        <!-- Adjust alignment on smaller devices -->
        <button class="btn btn-outline-dark mt-3 rounded-pill px-4 py-2 fw-bold" (click)="goToPrevious()"
          *ngIf="showBorrowerForm">
          Back <i class="bi bi-arrow-left"></i>
        </button>
      </div>
      <div class="col-md-6 text-end">
        <!-- Adjust alignment on smaller devices -->
        <button *ngIf="showBorrowerForm" class="btn btn-outline-dark mt-3 rounded-pill px-4 py-2 fw-bold"
          (click)="saveAll()">
          Submit <i class="bi bi-arrow-right"></i>
        </button>

        <button *ngIf="!showBorrowerForm " class="btn btn-outline-dark mt-3 rounded-pill px-4 py-2 fw-bold"
          (click)="goToNext()">
          Next <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</section>