<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<section class="section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">

      
        <div class="card">
          <h5 class="card-title text-light" style="background-color: #343a40; padding: 10px">
            Comment's Section
          </h5>
          <div class="card-body">
            <!-- General Form Elements -->
            <form>
              <div class="row g-5">
                <div class="col-md">
                  <div class="mb-3 mt-4">
                    <label class="form-label">Comments</label>
                    <div class="d-flex">
                      <!-- TextArea in its own div -->
                      <div style="flex: 1;">
                        <textarea type="text" class="form-control" [(ngModel)]="commentText" name="commentText" placeholder="comments..."></textarea>
                      </div>
        
                      <!-- Button in its own div with fixed width -->
                      <div style="width: 100px;">
                        <button class="btn btn-primary w-100" type="button" (click)="addComments()">Add</button>
                      </div>
                      <!-- End Button -->
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <!-- End General Form Elements -->
            <label class="form-label">Previous comments</label>
        
            <!-- Small tables -->
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">User</th>
                  <th scope="col">Comments</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let comment of comments">
                  <td>{{ comment?.date }}</td>
                  <td>{{ comment?.username }}</td>
                  <td>{{ comment?.commentText }}</td>
                </tr>
              </tbody>
            </table>
            <!-- End small tables -->
          </div>
        </div>
        

        <!-- upload section -->
        <div class="card">
          <h5 class="card-title text-light mb-3" style="background-color: #343a40; padding: 10px">
            Upload section
          </h5>
          <div class="card-body">
            <!-- <h5 class="card-title">Upload section</h5> -->

            <!-- General Form Elements -->
            <form [formGroup]="fileForm">
              <div class="row g-5">
                <div class="col-md-4">
                  <!-- Customers number -->
                  <div class="row">
                    <div class="mb-3">
                      <label class="form-label">Document type</label>
                      <div class="col-sm-12">
                        <select class="form-select" formControlName="documentType">
                          <option value="TITLE_DEED" selected>TITLE_DEED</option>
                          <option value="NATIONAL_IDENTITY_CARD">NATIONAL_IDENTITY_CARD</option>
                          <option value="BUILDING_PERMIT">BUILDING_PERMITS</option>
                          <option value="MARRIAGE_CERTIFICATE">BIRTH_CERTIFICATE</option>
                          <option value="QUOTATION">MARRIAGE_CERTIFICATE</option>
                          <option value="LETTER_OF_INTENT">QUOTATION</option>
                          <option value="LETTER_OF_INTENT">LETTER_OF_INTENT</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!-- Contact No -->
                  <div class="row">
                    <div class="col-md-12 text-center" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
                      <label for="imageInput" class="image-upload">
                        <input type="file" id="imageInput" class="d-none" name="file" formControlName="file"
                          (change)="onImageSelected($event)" />
                        <div class="image-preview" *ngIf="!imageUrl">
                          <i class="bi bi-cloud-upload"></i>
                          <div class="upload-text">
                            <div style="width: 180px">
                              Drag and drop image to upload
                              <p>or</p>
                              <input type="file" id="fileElem" multiple accept="image/*" style="display: none" />
                              <label class="browse-button">Browse</label>
                              <p>Maximum size: 5mb</p>
                              <p>Allowed format:XLSX, PDF</p>
                            </div>
                          </div>
                        </div>
                        <img *ngIf="imageUrl" [src]="imageUrl" class="img-fluid" alt="Uploaded Image" />
                      </label>

                      <div class="mt-2">
                        <button *ngIf="imageUrl" class="btn btn-danger mt-2" (click)="uploadFile()">
                          Clear Image
                        </button>

                        <button *ngIf="imageUrl" class="btn btn-primary mt-2" (click)="uploadFile()">
                          Upload Image
                        </button>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="col-md">
                  <!-- Address -->
                  <div class="mb-3">
                    <label class="form-label">Uploaded Documents</label>
                    <div class="col-sm-12">
                      <!-- Small tables -->
                      <table class="table table-sm">
                        <thead>
                          <tr>
                            <th scope="col">Doc Type</th>
                            <th scope="col">Filename</th>
                            <th scope="col">Size</th>
                            <th scope="col">Uploaded By</th>
                            <th scope="col">Uploaded On</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let document of uploadedFiles">
                            <td>{{ document.documentType }}</td>
                            <td>{{ document.fileName }}</td>
                            <td>{{ document.fileSize }}</td>
                            <td>{{ document.uploadedBy }}</td>
                            <td>{{ document.uploadedDate }}</td>

                            <td>
                              <!-- Download icon -->
                              <span>
                                <i style="color: rgb(30, 71, 146)" class="bi bi-cloud-download"
                                  (click)="downloadFile(document)"></i>
                              </span>
                              <span style="margin: 0 5px"></span>
                              <!-- Delete icon -->
                              <span style="color: red">
                                <i class="bi bi-trash" (click)="deleteFile(document)"></i>
                              </span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <!-- End small tables -->
                    </div>
                  </div>
                </div>
              </div>
            </form>


            <!-- End General Form Elements -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-start">
        <button class="btn btn-outline-dark mt-3 rounded-pill px-4 py-2 fw-bold" (click)="goToPrevious()">
          Back <i class="bi bi-arrow-left"></i>
        </button>
      </div>
      <div class="col-md-6 text-end">
        <button class="btn btn-outline-dark mt-3 rounded-pill px-4 py-2 fw-bold" (click)="goToNext()">
          Next <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</section>