.form-label {
  font-weight: 600;
}
#drop-area {
  width: 300px;
  height: 200px;
  border: 2px dashed #ccc;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  cursor: pointer;
}

#drop-area.highlight {
  border-color: #008000;
}

p {
  margin: 0;
}

.browse-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.browse-button {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}


i {
  cursor: pointer;
}