<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="dashboard">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="customers">
        <i class="bi bi-people"></i>
        <span>Customers</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="initiators-details">
        <i class="bi bi-person"></i>
        <span>Application</span>
      </a>
    </li>

    <!-- <li class="nav-item">
      <a class="nav-link collapsed" routerLink="borrowers-details">
        <i class="bi bi-card-list"></i>
        <span>Borrowers Details</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="comments">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Comments</span>
      </a>
    </li> -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="pvc-validation-requests">
        <i class="bi bi-file-earmark"></i>
        <span>Pvs-validation-Requests</span>
      </a>
    </li>
    <!-- End Blank Page Nav -->
  </ul>
</aside>
<!-- End Sidebar-->
